.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 200px;
    margin-right: 10px;
}

.land_img1 {
    width: 100%;
    width: 300px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #a6a5a4;
    font-size: 18px;
}

.hero h2 {
    font-size: 30px;
    color: #ffcc66;
    margin-bottom: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.hero p {
    font-size: 20px;
    color: #888;
    padding: 20px;
    padding-left: 100px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.question, .completed-message {
    font-size: 24px;
    margin-bottom: 20px;
    padding: 0 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.answers button, 
.quiz-form button {
    width: 450px;
    padding: 1px;
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
    background-color: #ffcc66;
    border: none;
    border-radius: 5px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    box-shadow: 2px 2px 4px #000000;
}

.answers button:hover {
    background-color: #fec042;
    box-shadow: 2px 2px 4px #000000;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.quiz-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #fff0d1;
    border-radius: 5px;
    width: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    color: #a6a5a4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    min-height: 100vh;
    box-sizing: border-box;
}

header {
    background: linear-gradient(to bottom, #ffd899, #fff5e1);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    background-color: #fff5e1;
    padding: 10px 20px;
    text-align: center;
    flex: 1;
    padding-bottom: 80px;
}

footer {
    background: linear-gradient(to top, #ffd899, #fff5e1);
    padding: 20px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;
    box-sizing: border-box;
    flex-shrink: 0;
    position: relative;
    padding-bottom: 40px;
}

.footer-right {
    text-align: right;
    line-height: 0.5;
    position: absolute;
    right: 20px;
    max-width: 50%;
    word-wrap: break-word;
}

.footer-right p {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.footer-right i {
    font-size: 18px;
    color: #000000;
}

footer p {
    text-transform: uppercase;
    font-size: 20px;
}

.quiz-container {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    min-height: 300px;
    height: 100%;
}

.quiz-container.fade-in {
    opacity: 1;
}

.quiz-container:not(.fade-in) {
    opacity: 0;
}

.answers button, 
.quiz-form button {
    width: 100%;
    max-width: 450px;
    padding: 15px;
    font-size: 22px;
    color: #ffffff;
    cursor: pointer;
    background-color: #ffcc66;
    border: none;
    border-radius: 5px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    box-shadow: 2px 2px 4px #000000;
}

.answers {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    justify-content: center;
    width: 100%;
}

.answers li {
    margin: 0;
}

.quiz-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.quiz-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #fff0d1;
    border-radius: 5px;
    width: 100%;
    max-width: 450px;
    margin-bottom: 15px;
}

.quiz-form button {
    max-width: 450px;
    width: 100%;
    padding: 15px;
    font-size: 18px;
}

.quiz-form button:hover {
    background-color: #45a049;
    box-shadow: 2px 2px 4px #000000;
}

@media (max-width: 768px) {
    .answers button, 
    .quiz-form button {
        width: 100%;
        font-size: 18px;
        padding: 10px;
    }

    .logo img {
        width: 150px;
    }

    .land_img1 {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .hero h2 {
        font-size: 24px;
    }

    .hero p {
        font-size: 16px;
        padding-left: 20px;
    }

    .text-columns {
        flex-direction: column;
    }

    .left-column ul {
        padding-left: 20px;
    }

    .cta-button {
        width: 80%;
        margin: 0 auto;
    }

    footer {
        padding: 10px;
    }

    .footer-right {
        position: static;
        text-align: center; 
        max-width: 100%;
        margin-top: 10px;
    }

    .footer-right p {
        font-size: 11px;
    }

    footer p {
        font-size: 10px;
    }
}