


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 200px;
    margin-right: 10px;
}

.land_img1 {
    width: 300px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #a6a5a4;
    font-size: 18px;
}

.hero h2 {
    font-size: 30px;
    color: #ffcc66;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    color: #888;
    padding: 20px;
    padding-left: 100px;
}


html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    color: #a6a5a4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500
}

header {
    background: linear-gradient(to bottom, #ffd899, #fff5e1);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    background-color: #fff5e1;
    padding: 10px 20px;
    text-align: center;
    flex: 1;
}

footer {
    background: linear-gradient(to top, #ffd899, #fff5e1);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.text-columns {
    display: flex; /* Flexbox layout for side-by-side columns */
    gap: 30px; /* Adds space between the two columns */
}

.left-column, .right-column {
    flex: 1; /* Ensure both columns take up equal space */
}

.left-column h1 {
    font-size: 24px; /* Adjust heading size */
    margin-bottom: 10px;
}

.left-column ul {
    list-style: disc inside; /* Disc style bullets inside the column */
    margin: 0;
    padding-left: 120px;
    list-style-position: inside; 
    text-align: left;  
}

.right-column p {
    font-size: 20px;
    color: #888;
}

.cta-button {
    background-color: #ffcc66;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 0px;
}

.cta-button:hover {
    background-color: #ffb84d;
}

.button-container {
    text-align: center; 
}
