:root {
    --yellow: #fedd58;
    --orange: #f4c965;
    --green: #e5f484;
    --grey: #a6a5a3;

    --section: #d6cda1;
    --section-alt: #d8bca4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Antonio', sans-serif;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    margin-right: 20px;
    height: auto;
    background-color: transparent;
    filter: drop-shadow(0 0 4px black);
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    position: relative;
    background-color: #D9D5C2;
    overflow-x: hidden;
}

header {
    background: var(--section);
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    filter: drop-shadow(0 0 4px black);
    justify-content: space-between;
}

header .top-row {
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 50px;
    color: #3e3e3e;
    font-weight: 700;
}

.logo-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: inherit;
    user-select: none;
}

.logo-link h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    pointer-events: none;
}

nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 0.75rem 1rem;
    transition: background 0.3s ease;
}

nav a:hover {
    background: var(--grey);
}

/* Footer */
footer {
    background: var(--section);
    color: black;
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 2rem;
    filter: drop-shadow(0 0 4px black);
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    margin: 0.5rem 0;
    font-size: 24px;
}

.footer-nav {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

.footer-nav a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.footer-nav a:hover {
    background: var(--grey);
}

/* Background leaves */
.leaf-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: -1;
  }
  
  .leaf {
    position: absolute;
    width: 100px;
    height: auto;
    opacity: 0.3;
    animation: float 20s infinite ease-in-out;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    100% {
      transform: translateY(100vh) rotate(360deg);
    }
  }